<div class="container-fluid" id="img-home">
    <div class="container">
        <div class="row padding-50">
            <form class="d-flex">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Sélectionner une ville</option>
                    <option *ngFor="let city of cities; let index = index">

                        {{ city }}

                    </option>
                </select>
                <button class="btn btn-info my-2 my-sm-0" type="submit">Valider</button>
            </form>
        </div>
    </div>
    <app-spaces></app-spaces>
</div>