
<div class="container-fluid">
    <div class="container">
        <h1 class="mt-5 text-center border border-info p-2">Mon compte</h1>
        <div class="row text-center align-items-center mt-5">
            <div class="col">
                <img [src]="imageSrc" alt="" srcset="" class="img-fluid img-thumbnail border-info">
            </div>
            <div class="col font-custom">
                <p>Nom: Dupond</p>
                <p>Prénom : Jean</p>
                <p>Adresse: 15 rue des lilas</p>
                <p>Code postal : 75018</p>
                <p>Ville: Paris</p>
                <p>Email : Dupond.Jean@gmail.com</p>
                <p>Mot de passe : panpan</p>
                <p>Téléphone: 01.12.13.15.16</p>
            </div>
        </div>
        <hr>
        <a href="http://" class="btn btn-info">Modifier vos informations personnelles</a>

    </div>
</div>
