<div class="container-fluid p-5">
    <div class="row m-5">
        <div class="col">
            <div class="card text-white bg-custom m-4 border-dark">
                <div class="card-header"><img [src]="imageSrc1" alt="" srcset="" class="img-fluid"></div>
                <div class="card-body bg-white text-dark">
                    <h4 class="card-title">Paris</h4>
                    <p class="card-text">Espace de coworking de 56 places</p>
                    <a [routerLink]="['detail']" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-custom m-4 border-dark">
                <div class="card-header"><img [src]="imageSrc2" alt="" srcset="" class="img-fluid"></div>
                <div class="card-body bg-white text-dark">
                    <h4 class="card-title">Marseille</h4>
                    <p class="card-text">Espace de coworking de 34 places</p>
                    <a href="http://" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-custom m-4 border-dark">
                <div class="card-header"><img [src]="imageSrc3" alt="" srcset="" class="img-fluid"></div>
                <div class="card-body bg-white text-dark">
                    <h4 class="card-title">Lyon</h4>
                    <p class="card-text">Espace de coworking de 47 places</p>
                    <a href="http://" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <div class="card text-white bg-custom m-4 border-dark">
                <div class="card-header"><img [src]="imageSrc1" alt="" srcset="" class="img-fluid"></div>
                <div class="card-body bg-white text-dark">
                    <h4 class="card-title">Paris</h4>
                    <p class="card-text">Espace de coworking de 56 places</p>
                    <a [routerLink]="['detail']" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-custom m-4 border-dark">
                <div class="card-header"><img [src]="imageSrc2" alt="" srcset="" class="img-fluid"></div>
                <div class="card-body bg-white text-dark">
                    <h4 class="card-title">Marseille</h4>
                    <p class="card-text">Espace de coworking de 34 places</p>
                    <a href="http://" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-custom m-4 border-dark">
                <div class="card-header"><img [src]="imageSrc3" alt="" srcset="" class="img-fluid"></div>
                <div class="card-body bg-white text-dark">
                    <h4 class="card-title">Lyon</h4>
                    <p class="card-text">Espace de coworking de 47 places</p>
                    <a href="http://" class="btn btn-info">Voir les détails</a>
                </div>
            </div>
        </div>
    </div>
</div>